In [1]:
%%bigquery
SELECT count(*)
FROM `bigquery-public-data.san_francisco.bikeshare_stations`

   f0_
0   74

In [2]:
%%bigquery sample
SELECT count(*)
FROM `bigquery-public-data.san_francisco.bikeshare_stations`

In [3]:
type(sample)

pandas.core.frame.DataFrame

In [4]:
sample

   f0_
0   74

In [5]:
%%bigquery
SELECT count(trip_id) as count_id, start_station_name, end_station_name 
FROM `bigquery-public-data.san_francisco.bikeshare_trips`
group by start_station_name, end_station_name 
order by count_id desc

    count_id                        start_station_name
0      72683  San Francisco Caltrain (Townsend at 4th)
1      56100   San Francisco Caltrain 2 (330 Townsend)
2      49062      Harry Bridges Plaza (Ferry Building)
3      41137                    Embarcadero at Sansome
4      39936                           2nd at Townsend
..       ...                                       ...
79        66            Middlefield Light Rail Station
80        23                San Jose Government Center
81        19               5th S at E. San Salvador St
82        15                          Sequoia Hospital
83         1              5th St at E. San Salvador St

[84 rows x 2 columns]